@charset "utf-8";
@import "variables";

/* -----------------------------------------------------------
 私たちについて
----------------------------------------------------------- */
.about-mv {
  height: 500px;
  width: 100%;
  background-image: url(../../images/about/mv.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  @include mq(medium, max) {
    height: 182px;
  }
}
.about-about {
  margin-top: -307px;
  padding-top: 300px;
  padding-bottom: 670px;
  background-image: url(../images/bg_2nd_mv.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    margin-top: -67px;
    padding-top: 240px;
    background-image: url(../images/bg_2nd_mv_sp.png);
  }
}
.about-about__inner {
  margin-top: -146px;
  @include mq(medium, max) {
    display: flex;
    flex-direction: column;
  }
}

.about-about__title img {
  width: min(toVw(402), 402px);
  @include mq(medium, max) {
    max-width: 145px;
    width: 100%;
  }
}
.about-about h1 {
  padding-top: 52px;
  text-align: center;
  @include mq(medium, max) {
    padding-top: 0 ;
  }
}
.about-about h1 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.about-about h2 {
  padding-top: min(toVw(42), 42px);
  text-align: center;
  font-size: min(toVw(30), 30px);
  letter-spacing: 0.2em;
  @include mq(medium, max) {
    font-size: 15px;
    padding-top: 16px;
    white-space: nowrap;
  }
}

.about-about p {
  padding-top: 19px;
  text-align: center;
  line-height: 3.2;
  @include mq(medium, max) {
    font-size: 11px;
    text-align: left;
    line-height: 1.6;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* about-trim
----------------------------------------------------------- */
.about-trim {
  margin-top: -644px;
  padding-top: 0;
  padding-bottom: 488px;
  background-image: url(../../images/bg_top-hotel.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    background-image: url(../../images/about/bg_about_trim-sp.png);
    margin-top: -625px;
  }
}
.about-trim__inner {
  position: relative;
}

.about-trim__maru1 {
  position: absolute;
  top: 67px;
  left: 0;
  @include mq(medium, max) {
    top: 9px;
    left: 5%;
  }
}
.about-trim__maru1 img {
  width: min(toVw(258), 258px);
  @include mq(medium, max) {
    width: 100px;
  }
}

.about-trim__maru2 {
  position: absolute;
  top: -80px;
  right: 0;
  @include mq(medium, max) {
    top: 62px;
    right: auto;
    left: 38%;
  }
}
.about-trim__maru2 img {
  width: min(toVw(206), 206px);
  @include mq(medium, max) {
    width: 80px;
  }
}

.about-trim__title {
  padding-top: min(toVw(256), 256px);
  text-align: right;
  @include mq(medium, max) {
    padding-top: 154px;
  }
}
.about-trim__title img {
  width: min(toVw(609), 609px);
  @include mq(medium, max) {
    max-width: 231px;
    width: 100%;
  }
}

.about-trim h2 {
  text-align: center;
  padding-top: 14px;
  @include mq(medium, max) {
    padding-top: 5px;
  }
}

.about-trim h2 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.about-trim p {
  padding-top: 20px;
  text-align: center;
  line-height: 2;
  @include mq(medium, max) {
    font-size: 11px;
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* about-hotel
----------------------------------------------------------- */
.about-hotel {
  margin-top: -755px;
  padding-top: 230px;
  padding-bottom: 250px;
  // padding-top: 50px;
  background-image: url(../../images/bg_top-news.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    background-image: url(../../images/bg_top-news_sp.png);
    margin-top: -597px;
    padding-top: 30px;
  }
}

.about-hotel__inner {
  position: relative;
}

.about-hotel__photo {
  position: absolute;
  top: 110px;
  right: 9px;
  @include mq(medium, max) {
    top: 127px;
    right: 36px;
  }
}

.about-hotel__photo img {
  width: min(toVw(420), 420px);
  @include mq(medium, max) {
    width: 200px;
  }
}

.about-hotel__title {
  padding-top: 320px;
}
.about-hotel__title img {
  width: min(toVw(659), 659px);
  @include mq(medium, max) {
    max-width: 240px;
    width: 100%;
  }
}

.about-hotel h2 {
  text-align: center;
  padding-top: 6px;
}

.about-hotel h2 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.about-hotel p {
  padding-top: 26px;
  text-align: center;
  line-height: 2;
  @include mq(medium, max) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    line-height: 1.6;
  }
}

/* about-goods
----------------------------------------------------------- */
.about-goods {
  margin-top: -100px;
  padding-top: 0;
  padding-bottom: 102px;
  // padding-top: 50px;
  background-image: url(../../images/bg_top_gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    margin-top: -190px;
    padding-bottom: 77px;
    background-image: url(../../images/about/bg_about_goods-sp.png);
  }
}

.about-goods__inner {
  position: relative;
}

.about-goods__photo {
  position: absolute;
  top: -106px;
  left: 122px;
  @include mq(medium, max) {
    top: -23px;
    right: 13px;
    left: auto;
  }
}

.about-goods__photo img {
  width: min(toVw(440), 440px);
  @include mq(medium, max) {
    max-width: 160px;
    width: 100%;
  }
}

.about-goods__title {
  padding-top: 110px;
  text-align: right;
  @include mq(medium, max) {
    text-align: left;
    padding-top: 42px;
  }
}
.about-goods__title img {
  width: min(toVw(417), 417px);
  @include mq(medium, max) {
    max-width: 151px;
    width: 100%;
  }
}

.about-goods h2 {
  text-align: center;
  margin-top: -10px;
  @include mq(medium, max) {
    margin-top: 11px;
  }
}

.about-goods h2 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.about-goods__text {
  padding-top: min(toVw(50), 50px);
  text-align: center;
  line-height: 2;
  @include mq(medium, max) {
    padding-top: 20px;
    font-size: 10px;
  }
}

.about-goods-cards {
  padding-top: 15px;
  @include mq(medium, max) {
    padding-top: 0;
    margin-top: -8px;
  }
}

.about-goods-cards__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-goods-card {
  width: 24%;
  position: relative;
  @include mq(medium, max) {
    width: 45%;
  }
}
.about-goods-card p {
  padding-top: 26px;
  text-align: center;
  @include mq(medium, max) {
    padding-top: 0;
  }
}
.about-goods-card img {
  height: min(toVw(245), 245px);
  @include mq(medium, max) {
    height: auto;
  }
}
