@charset "utf-8";
@import "variables";

/* -----------------------------------------------------------
 私たちについて
----------------------------------------------------------- */
.dogtrim-mv {
  height: 500px;
  width: 100%;
  background-image: url(../../images/dog_trimming/mv.jpg);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  @include mq(medium, max) {
    height: 182px;
  }
}
.dogtrim-about {
  margin-top: -307px;
  padding-top: 304px;
  padding-bottom: 751px;
  background-image: url(../images/bg_2nd_mv.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    margin-top: -67px;
    padding-top: 240px;
    background-image: url(../images/bg_2nd_mv_sp.png);
  }
}
.dogtrim-about__inner {
  margin-top: -146px;
  @include mq(medium, max) {
    display: flex;
    flex-direction: column;
  }
}

.dogtrim-about__title img {
  width: min(toVw(914), 914px);
  @include mq(medium, max) {
    width: 100%;
  }
}
.dogtrim-about h1 {
  padding-top: 52px;
  text-align: center;
  @include mq(medium, max) {
    padding-top: 5px;
  }
}
.dogtrim-about h1 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}
.dogtrim-about__select {
  max-width: min(toVw(770), 770px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  @include mq(medium, max) {
    margin-top: 16px;
    max-width: 100%;
  }
}
.dogtrim-about__button {
  position: relative;
  display: inline-block;
  padding: 9px 0;
  width: min(toVw(375), 375px);
  font-size: min(toVw(20), 20px);
  background: #ee8691;
  border-radius: 25px;
  text-align: center;
  @include mq(medium, max) {
    max-width: 150px;
    width: 100%;
    padding: 5px 0;
  }
  a {
    color: #fff;
    letter-spacing: 0.1em;
    @include mq(medium, max) {
      font-size: 10px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #ee8691;
    @include mq(medium, max) {
      left: 55%;
      border: 7px solid transparent;
      border-top: 7px solid #ee8691;
    }
  }
  &::after {
    right: min(toVw(25), 25px);
    top: min(toVw(19), 19px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../common/images/ashiato-w.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(14), 14px);
    height: min(toVw(12), 12px);
    @include mq(medium, max) {
      width: 7px;
      height: 6px;
      top: 10px;
      right: 9px;
    }
  }
}
.dogtrim-about h2 {
  padding-top: min(toVw(97), 97px);
  text-align: center;
  font-size: min(toVw(30), 30px);
  letter-spacing: 0.2em;
  @include mq(medium, max) {
    padding-top: 26px;
    padding-left: 10px;
    font-size: 15px;
    text-align: left;
  }
}

.dogtrim-about p {
  padding-top: 78px;
  text-align: center;
  line-height: 3.2;
  @include mq(medium, max) {
    padding-top: 14px;
    padding-left: 10px;
    text-align: left;
    line-height: 1.6;
  }
}
.dogtrim-about__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  @include mq(medium, max) {
    flex-wrap: wrap;
    margin-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.dogtrim-about__card {
  width: min(toVw(254), 254px);
  @include mq(medium, max) {
    width: 45%;
    &:nth-child(n + 3) {
      margin-top: 40px;
    }
  }
}

/* dogtrim-price
----------------------------------------------------------- */
.dogtrim-price {
  margin-top: -644px;
  padding-top: 362px;
  padding-bottom: 488px;
  background-image: url(../../images/bg_dogtrim_price.png);
  background-repeat: no-repeat;
  background-position: top center;
  @include mq(medium, max) {
    margin-top: -718px;
    padding-top: 98px;
    background-image: url(../../images/bg_dogtrim_price-sp.png);
  }
}
.dogtrim-price__inner.mainIn {
}
.dogtrim-price__wrap {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  text-align: center;
  padding: 133px min(toVw(100), 100px) 48px;
  position: relative;
  @include mq(medium, max) {
    border-radius: 4px 22px 4px 22px;
    padding: 50px 20px 28px;
  }
  h2 {
    img {
      width: min(toVw(548), 548px);
      @include mq(medium, max) {
        max-width: 280px;
        width: 100%;
      }
    }
  }
}
.dogtrim-price__photo {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: min(toVw(965), 965px);
  img {
    width: min(toVw(965), 965px);
    @include mq(medium, max) {
      max-width: 253px;
      width: 100%;
    }
  }
  @media screen and (min-width:768px) and ( max-width:1080px) {
    top: -2.2%;
  }
  @include mq(medium, max) {
    top: -20px;
    max-width: 253px;
    width: 100%;
  }
}
.dogtrim-price__tabs {
  .caption {
    margin-top: 50px;
    margin-bottom: 31px;
    text-align: center;
    @include mq(medium, max) {
      margin-top: 20px;
      margin-bottom: 25px;
      text-align: left;
    }
  }
  .option {
    margin-top: 16px;
    text-align: left;
  }
}
.dogtrim-price__tablist {
  max-width: min(toVw(770), 770px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  @include mq(medium, max) {
    margin-top: 30px;
    max-width: 100%;
  }
  li {
    list-style-type: none;
    @include mq(medium, max) {
      width: 100%;
    }
  }
  .tab {
    background-color: #b3dadc;
    color: #fff;
    display: inline-block;
    width: min(toVw(375), 375px);
    border-radius: 25px;
    padding: 17px 0;
    font-size: min(toVw(20), 20px);
    letter-spacing: 0.1em;
    position: relative;
    @include mq(medium, max) {
      max-width: 130px;
      width: 100%;
      padding: 7px 0;
    }
    &::after {
      right: min(toVw(25), 25px);
      top: min(toVw(19), 19px);
      position: absolute;
      content: "";
      display: inline-block;
      background-image: url(../../common/images/ashiato-w.svg);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      width: min(toVw(14), 14px);
      height: min(toVw(12), 12px);
      @include mq(medium, max) {
        top: 9px;
        right: 10px;
        width: 7px;
        height: 6px;
      }
    }
  }
}
#dogtrim-price-panel-1 {
  .mainhead {
    th {
      &:nth-child(1) {
        width: 23%;
        @include mq(medium, max) {
          width: 13%;
        }
      }
      &:nth-child(2) {
        width: 25%;
        @include mq(medium, max) {
          width: 23%;
        }
      }
      &:nth-child(3) {
        width: 36%;
        padding-left: min(toVw(76), 76px);
        @include mq(medium, max) {
          width: 30%;
        }
      }
    }
  }
}
.scroll-hint-icon {
  top: calc(17% - 25px) !important;
}
#dogtrim-price-panel-2 {
  table {
    thead {
      tr {
        th {
          @include mq(medium, max) {
            &:nth-child(1) {
              width: 20%;
            }
            &:nth-child(2) {
              width: 15%;
            }
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
            }
          }
        }
      }
    }
  }
}
.dogtrim-price__tabs .tab-panel {
  table {
    width: 965px;
    text-align: left;
    @include mq(medium, max) {
      width: 660px;
    }
    &:nth-child(n + 2) {
      margin-top: 45px;
    }
    thead {
      color: #fff;
      tr {
        th {
          vertical-align: middle;
          &:nth-child(1) {
            padding-left: min(toVw(23), 23px);
          }
        }
      }
      .mainhead {
        background-color: $main_color;
        font-size: min(toVw(16), 16px);
        @include mq(medium, max) {
          font-size: 11px;
        }
        th {
          padding-top: 22px;
          padding-bottom: 24px;
          @include mq(medium, max) {
            padding-top: 14px;
            padding-bottom: 18px;
          }
        }
      }
      .subhead {
        background-color: #5c5c5c;
        font-size: min(toVw(16), 16px);
        @include mq(medium, max) {
          font-size: 11px;
        }
        th {
          padding: 6px 0;
          &:nth-child(n + 2) {
            font-size: min(toVw(13), 13px);
          }
          &:nth-child(n + 3) {
            text-align: left;
          }
          &:nth-child(3) {
            // display: flex;
            // align-items: center;
            // justify-content: flex-start;
          }
          &:nth-child(4) {
            width: 19%;
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2ebde;
        }
        td {
          font-size: min(toVw(22), 22px);
          padding: min(toVw(16), 16px) 0 min(toVw(21), 21px);
          @include mq(medium, max) {
            padding: 11px 0;
          }
          span {
            font-size: min(toVw(16), 16px);
            @include mq(medium, max) {
              font-size: 11px;
            }
          }
          &:first-child {
            font-size: min(toVw(16), 16px);
            padding-left: min(toVw(23), 23px);
            @include mq(medium, max) {
              font-size: 11px;
              padding-left: 14px;
            }
          }
          &:nth-child(n + 2) {
            @include mq(medium, max) {
              font-size: 15px;
            }
          }
        }
        .text-center {
          text-align: center;
        }
      }
    }
  }
}

/*============================
#dogtrim-price-tab-1.tab
============================*/
#dogtrim-price-tab-1.tab {
}

/*============================
#dogtrim-price-tab-2.tab
============================*/
#dogtrim-price-tab-2.tab {
}

/*============================
#dogtrim-price-panel-1.tab-panel
============================*/
#dogtrim-price-panel-1.tab-panel {
}

/*============================
#dogtrim-price-panel-2.tab-panel
============================*/
#dogtrim-price-panel-2.tab-panel {
}
.dogtrim-price-rules {
  margin-top: 53px;
  @include mq(medium, max) {
    margin-top: 15px;
  }
}
.dogtrim-price-rules__photo {
  img {
    width: min(toVw(548), 548px);
    @include mq(medium, max) {
      max-width: 280px;
      width: 100%;
    }
  }
}
.dogtrim-price-rules__text {
  text-align: left;
  margin-top: 44px;
  @include mq(medium, max) {
    margin-top: 14px;
  }
  p {
    font-size: min(toVw(15), 15px);
    line-height: 1.6;
    @include mq(medium, max) {
      font-size: 11px;
    }
  }
  .text-red {
    color: #ff0000;
  }
}
.tab-panel[aria-hidden="true"] {
  display: none;
}
.dogtrim-price__tablist .tab[aria-selected="true"] {
  background-color: #67b5b9;
}
.cattrim-price__tablist .tab[aria-selected="true"] {
  background-color: #ee8691;
}

/* dogtrim-flow
----------------------------------------------------------- */
.dogtrim-flow {
  margin-top: -346px;
  padding-top:  min(toVw(337), 337px);
  padding-bottom: 123px;
  background-image: url(../../images/bg_dogtrim_flow.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  @include mq(medium, max) {
    background-image: url(../../images/bg_dogtrim_flow-sp.png);
    margin-top: -441px;
    padding-top: 117px;
    padding-bottom: 84px;
  }
}
.dogtrim-flow__inner.mainIn {
}
.dogtrim-flow__photo {
  position: absolute;
  top: min(toVw(-15), -15px);
  left: 46%;
  transform: translateX(-50%);
  width: min(toVw(846), 846px);
  @include mq(medium, max) {
    max-width: 305px;
    width: 100%;
    top: -22px;
    left: 51%;
  }
}
.trim-flow-accordion {
  max-width: 966px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.trim-flow-accordion__item {
  background-color: #fff;
  border-radius: 15px 40px 15px 40px;
  position: relative;
  z-index: 10;
  @include mq(medium, max) {
    border-radius: 4px 22px 4px 22px;
  }
  &:nth-child(n + 3) {
    margin-top: 21px;
  }
}
.trim-flow-accordion__headline {
  padding: 39px 42px 39px 80px;
  @include mq(medium, max) {
    padding: 22px 20px 11px;
  }
}
.dogtrim-flow .trim-flow-accordion__tab {
  align-items: center;
  appearance: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
  color: #95cccf;
  letter-spacing: 0.2em;
  font-size: min(toVw(30), 30px);
  display: flex;
  justify-content: space-between;
  position: relative;
  @include mq(medium, max) {
    font-size: 14px;
    padding-left: 22px;
    line-height: 1.5;
    align-items: flex-start;
  }
  &::before {
    left: min(toVw(-30), -30px);
    top: min(toVw(10), 10px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../images/dog_trimming/ashiato.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(14), 14px);
    height: min(toVw(12), 12px);
    @include mq(medium, max) {
      top: 7px;
      left: 6px;
      width: 7px;
      height: 6px;
    }
  }
}
.cattrim-flow .trim-flow-accordion__tab {
  align-items: center;
  appearance: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
  color: #ee8691;
  letter-spacing: 0.2em;
  font-size: min(toVw(30), 30px);
  display: flex;
  justify-content: space-between;
  position: relative;
  @include mq(medium, max) {
    font-size: 14px;
    padding-left: 22px;
    line-height: 1.5;
    align-items: flex-start;
  }
  &::before {
    left: min(toVw(-30), -30px);
    top: min(toVw(10), 10px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../images/cat_trimming/ashiato.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(14), 14px);
    height: min(toVw(12), 12px);
    @include mq(medium, max) {
      top: 5px;
      left: 0;
      width: 7px;
      height: 6px;
    }
  }
  &.-mb6 {
    margin-bottom: 6px;
  }
}
.trim-flow-accordion__tabsubtext {
  font-size: min(toVw(15), 15px);
  @include mq(medium, max) {
    color: #95cccf;
    font-size: 7px;
    letter-spacing: 0.2em;
    padding-left: 22px;
  }
  &.-cattrim {
    color: #ee8691;
    @include mq(medium, max) {
      display: block;
    }
  }
  &.-ml160 {
    margin-left: -162px;
    @include mq(medium, max) {
      margin-left: 0;
    }
  }
}
.trim-flow-accordion__tabicon {
  color: inherit;
  display: inline-block;
  height: 18px;
  margin-left: 1em;
  pointer-events: none;
  position: relative;
  width: 18px;
  @include mq(medium, max) {
    width: 8px;
    height: 8px;
  }
  &::before,
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &::after {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
  .trim-flow-accordion__tab[aria-expanded="true"] & {
    &::after {
      transform: rotate(0);
    }
  }
}
.trim-flow-accordion__panel {
}
.trim-flow-accordion__panel-content {
  display: flex;
  justify-content: space-between;
  padding: 0 90px 30px 81px;
  @include mq(medium, max) {
    padding: 0 20px 22px;
  }
  .trim-flow-accordion__panel-image {
    width: min(toVw(180), 180px);
    @include mq(medium, max) {
      max-width: 90px;
      width: 100%;
    }
    img + img {
      margin-top: 10px;
    }
    &.-noimage {
      width: 0%;
    }
  }
  .trim-flow-accordion__panel-text {
    width: 73%;
    @include mq(medium, max) {
      width: 63%;
    }
    &.-fulltext {
      width: 100%;
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}
.trim-flow-accordion.js-accordion {
}
.trim-flow-accordion__tab.js-accordion-tab {
}
.trim-flow-accordion__panel.js-accordion-panel {
}
