@charset "utf-8";
@import "variables";

/* -----------------------------------------------------------
 私たちについて
----------------------------------------------------------- */
.dogtrim-mv {
  height: 500px;
  width: 100%;
  background-image: url(../../images/dog_trimming/mv.jpg);
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
}
.dogtrim-about {
  margin-top: -250px;
  padding-top: 250px;
  padding-bottom: 751px;
  background-image: url(../images/bg_2nd_mv.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.dogtrim-about__inner {
  margin-top: -146px;
}

.dogtrim-about__title img {
  width: min(toVw(914), 914px);
}
.dogtrim-about__select {
  max-width: min(toVw(770), 770px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.dogtrim-about__button {
  position: relative;
  display: inline-block;
  padding: 9px 0;
  width: min(toVw(375), 375px);
  font-size: min(toVw(20), 20px);
  background: #ee8691;
  border-radius: 25px;
  text-align: center;
  a {
    color: #fff;
    letter-spacing: 0.1em;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #ee8691;
  }
  &::after {
    right: min(toVw(25), 25px);
    top: min(toVw(19), 19px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../common/images/ashiato-w.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(14), 14px);
    height: min(toVw(12), 12px);
  }
}
.dogtrim-about h1 {
  padding-top: 52px;
  text-align: center;
}
.dogtrim-about h1 img {
  width: min(toVw(548), 548px);
}

.dogtrim-about h2 {
  padding-top: min(toVw(97), 97px);
  text-align: center;
  font-size: min(toVw(30), 30px);
  letter-spacing: 5px;
}

.dogtrim-about p {
  padding-top: 78px;
  text-align: center;
  line-height: 3.2;
}
.dogtrim-about__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.dogtrim-about__card {
  width: min(toVw(254), 254px);
}

/* dogtrim-price
----------------------------------------------------------- */
.dogtrim-price {
  margin-top: -644px;
  padding-top: 362px;
  padding-bottom: 488px;
  background-image: url(../../images/bg_dogtrim_price.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.dogtrim-price__inner.mainIn {
}
.dogtrim-price__wrap {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  text-align: center;
  padding: 133px min(toVw(100), 100px) 48px;
  position: relative;
  h2 {
    img {
      width: min(toVw(548), 548px);
    }
  }
}
.dogtrim-price__photo {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: min(toVw(965), 965px);
  img {
    width: min(toVw(965), 965px);
  }
}
.dogtrim-price__tabs {
  .caption {
    margin-top: 50px;
    margin-bottom: 31px;
    text-align: center;
  }
  .option {
    margin-top: 16px;
    text-align: left;
  }
}
.dogtrim-price__tablist {
  max-width: min(toVw(770), 770px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
  }
  .tab {
    background-color: #b3dadc;
    color: #fff;
    display: inline-block;
    width: min(toVw(375), 375px);
    border-radius: 25px;
    padding: 17px 0;
    font-size: min(toVw(20), 20px);
    letter-spacing: 0.1em;
    position: relative;
    &::after {
      right: min(toVw(25), 25px);
      top: min(toVw(19), 19px);
      position: absolute;
      content: "";
      display: inline-block;
      background-image: url(../../common/images/ashiato-w.svg);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      width: min(toVw(14), 14px);
      height: min(toVw(12), 12px);
    }
  }
}

.dogtrim-price__tabs .tab-panel {
  table {
    width: 100%;
    text-align: left;
    &:nth-child(n + 2) {
      margin-top: 45px;
    }
    thead {
      color: #fff;
      tr {
        th {
          vertical-align: middle;
          &:first-child {
            padding-left: min(toVw(23), 23px);
          }
        }
      }
      .mainhead {
        background-color: $main_color;
        font-size: min(toVw(16), 16px);
        th {
          padding-top: 22px;
          padding-bottom: 24px;
        }
      }
      .subhead {
        background-color: #5c5c5c;
        font-size: min(toVw(16), 16px);
        th {
          padding: 6px 0;
          &:nth-child(n + 2) {
            font-size: min(toVw(13), 13px);
          }
          &:nth-child(n + 3) {
            text-align: center;
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f0e8d9;
        }
        td {
          font-size: min(toVw(22), 22px);
          padding: min(toVw(16), 16px) 0 min(toVw(21), 21px);
          &:first-child {
            font-size: min(toVw(16), 16px);
            padding-left: min(toVw(23), 23px);
          }
        }
        .text-center {
          text-align: center;
        }
      }
    }
  }
}

/*============================
#dogtrim-price-tab-1.tab
============================*/
#dogtrim-price-tab-1.tab {
}

/*============================
#dogtrim-price-tab-2.tab
============================*/
#dogtrim-price-tab-2.tab {
}

/*============================
#dogtrim-price-panel-1.tab-panel
============================*/
#dogtrim-price-panel-1.tab-panel {
}

/*============================
#dogtrim-price-panel-2.tab-panel
============================*/
#dogtrim-price-panel-2.tab-panel {
}
.dogtrim-price-rules {
  margin-top: 53px;
}
.dogtrim-price-rules__photo {
  img {
    width: min(toVw(548), 548px);
  }
}
.dogtrim-price-rules__text {
  text-align: left;
  margin-top: 44px;
  p {
    font-size: min(toVw(15), 15px);
    line-height: 1.6;
  }
  .text-red {
    color: #ff0000;
  }
}
.tab-panel[aria-hidden="true"] {
  display: none;
}
.dogtrim-price__tablist .tab[aria-selected="true"] {
  background-color: #67b5b9;
}
.cattrim-price__tablist .tab[aria-selected="true"] {
  background-color: #EE8691;
}

/* dogtrim-flow
----------------------------------------------------------- */
.dogtrim-flow {
  margin-top: -346px;
  padding-top: 337px;
  padding-bottom: 123px;
  background-image: url(../../images/bg_dogtrim_flow.png);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.dogtrim-flow__inner.mainIn {
}
.dogtrim-flow__photo {
  position: absolute;
  top: min(toVw(-15), -15px);
  left: 46%;
  transform: translateX(-50%);
  width: min(toVw(846), 846px);
}
.trim-flow-accordion {
  max-width: 966px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.trim-flow-accordion__item {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  position: relative;
  z-index: 10;
  & + & {
    margin-top: 15px;
  }
}
.trim-flow-accordion__headline {
  padding: 39px 42px 30px 80px;
}
.dogtrim-flow .trim-flow-accordion__tab {
  align-items: center;
  appearance: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
  color: #95cccf;
  letter-spacing: 0.2em;
  font-size: min(toVw(30), 30px);
  display: flex;
  justify-content: space-between;
}
.cattrim-flow .trim-flow-accordion__tab {
  align-items: center;
  appearance: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: left;
  color: #EE8691;
  letter-spacing: 0.2em;
  font-size: min(toVw(30), 30px);
  display: flex;
  justify-content: space-between;
}
.trim-flow-accordion__tabsubtext {
  font-size: min(toVw(15), 15px);
  &.-cattrim {
    color: #EE8691;
  }
}
.trim-flow-accordion__tabicon {
  color: inherit;
  display: inline-block;
  height: 18px;
  margin-left: 1em;
  pointer-events: none;
  position: relative;
  width: 18px;
  &::before,
  &::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &::after {
    transform: rotate(90deg);
    transition: transform .3s;
  }
  .trim-flow-accordion__tab[aria-expanded='true'] & {
    &::after {
      transform: rotate(0);
    }
  }
}
.trim-flow-accordion__panel {
}
.trim-flow-accordion__panel-content {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 30px 81px;
  .trim-flow-accordion__panel-image {
    width: min(toVw(180), 180px);
    img + img {
      margin-top: 10px;
    }
    &.-noimage {
      width: 0%;
    }
  }
  .trim-flow-accordion__panel-text {
    width: 73%;
    &.-fulltext {
      width: 100%;
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}
.trim-flow-accordion.js-accordion {
}
.trim-flow-accordion__tab.js-accordion-tab {
}
.trim-flow-accordion__panel.js-accordion-panel {
}
