@charset "utf-8";
@import "variables";

/* -----------------------------------------------------------
 私たちについて
----------------------------------------------------------- */
.dogh-mv {
  height: 500px;
  background-image: url(../../images/dog_hotel/mv.jpg);
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;
}
.dogh-about {
  margin-top: -250px;
  padding-top: 250px;
  padding-bottom: 634px;
  background-image: url(../images/bg_2nd_mv.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.dogh-about__inner {
  margin-top: -146px;
}

.dogh-about__title img {
  width: min(toVw(686), 686px);
}
.dogh-about h1 {
  padding-top: 52px;
  text-align: center;
}
.dogh-about h1 img {
  width: min(toVw(548), 548px);
}

.dogh-about h2 {
  padding-top: min(toVw(87), 87px);
  text-align: center;
  font-size: min(toVw(30), 30px);
  letter-spacing: 5px;
}

.dogh-about p {
  padding-top: min(toVw(76), 76px);
  text-align: center;
  line-height: 3.2;
}

/* dogh-facility
----------------------------------------------------------- */
.dogh-facility {
  margin-top: -644px;
  padding-top: 0;
  padding-bottom: 488px;
  background-image: url(../../images/bg_top-hotel.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.dogh-facility__inner {
  position: relative;
}

.dogh-facility__maru1 {
  position: absolute;
  top: -281px;
  left: 0;
}
.dogh-facility__maru1 img {
  width: min(toVw(200), 200px);
}

.dogh-facility__maru2 {
  position: absolute;
  top: -161px;
  right: 0;
  @include mq(large, max) {
    top: -20px;
  }
}
.dogh-facility__maru2 img {
  width: min(toVw(200), 200px);
}

.dogh-facility__title {
  padding-top: min(toVw(160), 160px);
  text-align: right;
}
.dogh-facility__title img {
  width: min(toVw(609), 609px);
}
.dogh-facility-hotel {
  display: flex;
  justify-content: space-between;
}
.dogh-facility-hotel__image {
  width: min(toVw(558), 558px);
  img {
    width: min(toVw(558), 558px);
  }
  p {
    text-align: center;
    margin-top: 13px;
  }
}
.dogh-facility-hotel__textblock {
  width: 49%;
}
.dogh-facility-hotel__title {
  font-size: min(toVw(24), 24px);
  position: relative;
  padding-left: min(toVw(38), 38px);
  padding-top: 10px;
  letter-spacing: 0.2em;
  &::before {
    left: min(toVw(0), 0px);
    top: min(toVw(16), 16px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../common/images/ashiato.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(32), 32px);
    height: min(toVw(24), 24px);
  }
}
.dogh-facility-hotel__text {
  margin-top: min(toVw(40), 40px);
  line-height: 2;
}
.dogh-facility-cards {
  display: flex;
  justify-content: space-between;
  margin-top: min(toVw(80), 80px);
}
.dogh-facility-card {
  width: min(toVw(254), 254px);
}
.dogh-facility-card__text {
  text-align: center;
  margin-top: 15px;
}

/* dogh-price
----------------------------------------------------------- */
.dogh-price {
  margin-top: -825px;
  padding-top: 679px;
  padding-bottom: 256px;
  background-image: url(../../images/bg_top-news.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.dogh-price__inner {
}
.dogh-price__wrap {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  text-align: center;
  padding: 133px min(toVw(50), 50px) 58px;
  position: relative;
  h2 {
    img {
      width: min(toVw(548), 548px);
    }
  }
}
.dogh-price__photo {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: min(toVw(965), 965px);
}
.dogh-price__pricelist {
  margin-top: 38px;
  table {
    width: 100%;
    caption {
      text-align: center;
      font-size: min(toVw(20), 20px);
      letter-spacing: 0.2em;
      margin-bottom: 22px;
    }
    .first-tr {
      th {
        text-align: center;
      }
      th:first-child {
        padding-left: min(toVw(49), 49px);
        width: 31%;
      }
    }
    .second-tr {
      th {
        width: 18.5%;
        text-align: left;
      }
    }
    thead {
      background-color: $main_color;
      color: #fff;
      tr {
        font-size: min(toVw(16), 16px);
        .table-head {
          text-align: left;
          padding-left: min(toVw(100), 100px);
        }
        th {
          padding: min(toVw(6), 6px) 0;
          &:first-child {
            vertical-align: middle;
            text-align-last: left;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: min(toVw(18), 18px) 0;
          text-align: left;
          &:first-child {
            width: 31%;
            padding-left: min(toVw(49), 49px);
            font-size: min(toVw(16), 16px);
          }
          &:nth-child(n + 2) {
            width: 18.5%;
          }
        }
        font-size: min(toVw(22), 22px);
        &:nth-child(even) {
          background-color: #f0e8d9;
        }
      }
    }
  }
}
.dogh-price__attention {
  margin-top: 28px;
  text-align: left;
  line-height: 1.6;
}

/* dogh-rule
----------------------------------------------------------- */
.dogh-rule {
  margin-top: -160px;
  padding-top: 115px;
  background-image: url(../../images/bg_top_gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 140px;
}
.dogh-rule__inner {
  padding-left: 50px;
}
.dogh-rule__photo {
  width: min(toVw(330), 330px);
}
.dogh-rule__content {
  display: flex;
  margin-top: 8px;
}
.dogh-rule__textbox {
  width: 56%;
}
.dogh-rule__title {
  font-size: min(toVw(24), 24px);
  position: relative;
  padding-left: min(toVw(38), 38px);
  padding-top: 10px;
  letter-spacing: 0.2em;
  &::before {
    left: min(toVw(0), 0px);
    top: min(toVw(16), 16px);
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../../common/images/ashiato.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: min(toVw(32), 32px);
    height: min(toVw(24), 24px);
  }
}
.dogh-rule__text {
  margin-top: 12px;
  font-size: min(toVw(14), 14px);
  line-height: 2.14;
}
.dogh-rule__image {
  width: min(toVw(483), 483px);
}
