@charset "utf-8";
@import "variables";

/* -----------------------------------------------------------
 店舗情報
----------------------------------------------------------- */
.shop-mv {
  height: 500px;
  background-image: url(../../images/shop/mv.jpg);
  background-repeat: no-repeat;
  background-position: center 68%;
  background-size: cover;
  @include mq(medium, max) {
    height: 180px;
  }
}
.shop-about {
  margin-top: -250px;
  padding-top: 270px;
  padding-bottom: 634px;
  background-image: url(../images/bg_2nd_mv.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.shop-about__inner {
  margin-top: -146px;
  @include mq(medium, max) {
    display: flex;
    flex-direction: column;
  }
}

.shop-about__title img {
  width: min(toVw(314), 314px);
  @include mq(medium, max) {
    max-width: 111px;
    width: 100%;
  }
}
.shop-about h1 {
  padding-top: 52px;
  text-align: center;
}
.shop-about h1 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.shop-about h2 {
  padding-top: min(toVw(87), 87px);
  text-align: center;
  font-size: min(toVw(30), 30px);
  letter-spacing: 0.1em;
  @include mq(medium, max) {
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
  }
}

.shop-about p {
  padding-top: min(toVw(31), 31px);
  text-align: center;
  line-height: 3.2;
  @include mq(medium, max) {
    line-height: 1.6;
    text-align: left;
  }
}
.shop-about__content {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  text-align: center;
  padding: 76px min(toVw(100), 100px) 0;
  margin-top: 60px;
  @include mq(medium, max) {
    border-radius: 10px 30px 10px 30px;
    padding: 20px 20px 0;
    margin-top: 31px;
  }
}
.shop-about__details {
  .shop-about__detail {
    display: flex;
    align-items: center;
    @include mq(medium, max) {
      flex-direction: column;
      align-items: flex-start;
    }
    .shop-about__head {
      min-width: min(toVw(240), 240px);
      font-size: min(toVw(20), 20px);
      color: #fff;
      background-color: #ee8691;
      border-radius: 50px;
      padding: 9.3px 0 8.7px;
      @include mq(medium, max) {
        max-width: 120px;
        width: 100%;
        font-size: 11px;
        padding: 6px 0;
      }
    }
    .shop-about__data {
      text-align: left;
      padding-left: min(toVw(20), 20px);
      @include mq(medium, max) {
        padding-top: 9px;
      }
      span {
        color: #ee8691;
      }
    }
    & + .shop-about__detail {
      margin-top: 30px;
      @include mq(medium, max) {
        margin-top: 12px;
      }
    }
  }
}
.shop-about__shopimages {
  display: flex;
  margin-top: 50px;
  @include mq(medium, max) {
    flex-direction: column;
  }
}
.shop-about__shopimage {
  & + .shop-about__shopimage {
    margin-left: 41px;
    @include mq(medium, max) {
      margin-left: 0;
      margin-top: 24px;
    }
  }
  .shop-about__shoptext {
    padding-top: 11px;
    line-height: 1;
  }
}
.shop-about__image {
  width: min(toVw(800), 800px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  @include mq(medium, max) {
    width: 100%;
    margin-top: 20px;
  }
}

/* shop-access
----------------------------------------------------------- */
.shop-access {
  margin-top: -536px;
  padding-top: 140px;
  padding-bottom: 88px;
  background-image: url(../../images/bg_shop_access.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.shop-access__inner.mainIn {
}
.shop-access__title {
  width: min(toVw(464), 464px);
  margin-left: 52px;
  @include mq(medium, max) {
    max-width: 174px;
    width: 100%;
    margin-left: 0;
  }
}
.shop-access__map {
  position: relative;
  width: 100%;
  padding-top: 34.2442%;
  @include mq(medium, max) {
    padding-top: 63.3333%;
  }
}
.shop-access__mapcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shop-access__location {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  @include mq(medium, max) {
    margin-top: 16px;
  }
}
.shop-access__guides {
  border-radius: 20px;
  background-color: #fff;
  margin-top: 40px;
  display: flex;
  padding: 34px 50px 36px;
  @include mq(medium, max) {
    flex-direction: column;
    padding: 20px 20px 16px;
  }
}
.shop-access__guide + .shop-access__guide {
  margin-left: min(toVw(103), 103px);
  @include mq(medium, max) {
    margin-left: 0;
    margin-top: 37px;
  }
}
.shop-access__guidename {
  border-radius: 50px;
  color: #fff;
  width: 263px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  @include mq(medium, max) {
    width: 171.5px;
    padding-top: 4.7px;
    padding-bottom: 5.8px;
  }
  &.-kanazawa {
    background-color: #ee8691;
  }
  &.-toyama {
    background-color: #67b5b9;
  }
}
.shop-access__guidetext {
  margin-top: 24px;
  @include mq(medium, max) {
    margin-top: 12px;
  }
}
