@charset "utf-8";
@import "variables";
/* ===================================================================
CSS information

 file name  :top.css
 style info :トップページ読み込み用
=================================================================== */

/* -----------------------------------------------------------
 トップ
----------------------------------------------------------- */

/* top-about
----------------------------------------------------------- */
.top-about {
  background-color: $colorb1;
  padding-bottom: 625px;
}
.top-about__inner {
  background-image: url(../../images/image1.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: min(toVw(643), 643px) auto;
  @include mq(medium, max) {
    background-size: 90% auto;
    padding-top: 50%;
    background-position: top center;
  }
}
.top-about h1 {
  color: #fff;
  font-size: min(toVw(30), 30px);
  padding-top: min(toVw(117), 117px);
  letter-spacing: 6px;
  @include mq(medium, max) {
    font-size: 16px;
    white-space: nowrap;
  }
}
.top-about p {
  color: #fff;
  padding-top: 26px;
  width: min(toVw(550), 550px);
  line-height: 2;
  @include mq(medium, max) {
    width: 100%;
    font-size: 11px;
    white-space: nowrap;
  }
}

.top-about__btn {
  padding-top: 46px;
  @include mq(medium, max) {
    padding-top: 15px;
  }
}

.top-about__photo {
  padding-top: 40px;
}

/* top-trim
----------------------------------------------------------- */
.top-trim {
  margin-top: -644px;
  padding-top: 50px;
  padding-bottom: 488px;
  background-image: url(../../images/bg_top-trim.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.top-trim__inner {
  position: relative;
}

.top-trim__maru1 {
  position: absolute;
  top: 47px;
  left: min(toVw(17), 17px);
}
.top-trim__maru1 img {
  width: min(toVw(250), 250px);
}

.top-trim__maru2 {
  position: absolute;
  top: 153px;
  left: min(toVw(304), 304px);
}
.top-trim__maru2 img {
  width: min(toVw(192), 192px);
}

.top-trim__title {
  padding-top: 211px;
  text-align: right;
}
.top-trim__title img {
  width: min(toVw(609), 609px);
  @include mq(medium, max) {
    max-width: 231px;
    width: 100%;
  }
}

.top-trim h2 {
  text-align: center;
  padding-top: 55px;
  @include mq(medium, max) {
    padding-top: 20px;
  }
}

.top-trim h2 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.top-trim p {
  padding-top: 20px;
  text-align: center;
  line-height: 2;
  @include mq(medium, max) {
    font-size: 11px;
  }
}

.top-trim-cards {
  padding-top: 64px;
  @include mq(medium, max) {
    padding-top: 23px;
  }
}

.top-trim-cards__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mq(medium, max) {
    flex-direction: column;
  }
}

.top-trim-card {
  width: 47.8%;
  position: relative;
  @include mq(medium, max) {
    width: 100%;
    & + .top-trim-card {
      margin-top: 20px;
    }
  }
}

.top-trim-card div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  @include mq(medium, max) {
    padding-bottom: 20px;
  }
}

/* top-hotel
----------------------------------------------------------- */
.top-hotel {
  margin-top: -400px;
  padding-bottom: 720px;
  // padding-top: 50px;
  background-image: url(../../images/bg_top-hotel.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.top-hotel__inner {
  position: relative;
}

.top-hotel__photo {
  position: absolute;
  top: 60px;
  right: -50px;
  @include mq(medium, max) {
    top: 156px;
    right: 75px;
  }
}

.top-hotel__photo img {
  width: min(toVw(428), 428px);
  @include mq(medium, max) {
    max-width: 151px;
    width: 100%;
  }
}

.top-hotel__title {
  padding-top: 320px;
}
.top-hotel__title img {
  width: min(toVw(632), 632px);
  @include mq(medium, max) {
    max-width: 240px;
    width: 100%;
  }
}

.top-hotel h2 {
  text-align: center;
  padding-top: 55px;
  @include mq(medium, max) {
    padding-top: 20px;
  }
}

.top-hotel h2 img {
  width: min(toVw(528), 528px);
  @include mq(medium, max) {
    max-width: 320px;
    width: 100%;
  }
}

.top-hotel p {
  padding-top: 26px;
  text-align: center;
  line-height: 2;
  @include mq(medium, max) {
    font-size: 11px;
  }
}

.top-hotel-cards {
  padding-top: 60px;
  @include mq(medium, max) {
    padding-top: 24px;
  }
}

.top-hotel-cards__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include mq(medium, max) {
    flex-direction: column;
  }
}

.top-hotel-card {
  width: 47.8%;
  position: relative;
  @include mq(medium, max) {
    width: 100%;
    & + .top-hotel-card {
      margin-top: 20px;
    }
  }
}

.top-hotel-card div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  @include mq(medium, max) {
    padding-bottom: 20px;
  }
}

/* top-news
----------------------------------------------------------- */
.top-news {
  margin-top: -1083px;
  padding-top: 742px;
  background-image: url(../../images/bg_top-news.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 282px;
  @include mq(medium, max) {
    padding-top: 575px;
  }
}

.top-news__wrap {
  background-color: #fff;
  border-radius: 15px 65px 15px 65px;
  text-align: center;
  padding: 0 0 78px 0;
  position: relative;
  @include mq(medium, max) {
    padding-bottom: 35px;
    border-radius: 10px 30px 10px 30px;
  }
}

.top-news__photo {
  // margin-top: 20px;
  position: absolute;
  top: -327px;
  left: 50%;
  transform: translateX(-50%);
  width: min(toVw(834), 834px);
  @include mq(medium, max) {
    max-width: 273px;
    width: 100%;
    top: -116px;
  }
}
.top-news__photo img {
  width: min(toVw(834), 834px);
  @include mq(medium, max) {
    max-width: 273px;
    width: 100%;
  }
}

.top-news h2 {
  text-align: center;
  padding-top: min(toVw(162), 162px);
}

.top-news h2 img {
  width: min(toVw(548), 548px);
  @include mq(medium, max) {
    max-width: 280px;
    width: 100%;
  }
}

.top-news__lists {
  font-size: 15px;
  width: min(toVw(835), 835px);
  padding-top: min(toVw(60), 60px);
  margin-left: min(toVw(125), 125px);
  @include mq(medium, max) {
    margin-left: 0;
    padding: 30px 20px 0;
    width: 100%;
    ul {
      margin-left: 0;
    }
  }
}

.top-news__lists li {
  list-style-type: none;
  background: url(../../images/news_yaji.png) no-repeat right 10px;
  background-size: 58px 7px;
  margin-top: 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  @include mq(medium, max) {
    background: none;
    font-size: 11px;
  }
}
.top-news__lists li + li {
  margin-top: 26px;
}

.top-news__lists span.top-news__cate {
  display: inline-block;
  color: #fff;
  background-color: #ee8691;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  @include mq(medium, max) {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.top-news__lists li a {
  display: inline-block;
  width: 550px;
}

.top-news__btn {
  padding-top: min(toVw(65), 65px);
}

/* top-gallerys
----------------------------------------------------------- */
.top-gallerys {
  margin-top: -160px;
  padding-top: 160px;
  background-image: url(../../images/bg_top_gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 140px;
}

.top-gallerys__wrap {
  text-align: center;
  padding: 0 0 78px 0;
}

.top-gallerys__title {
}
.top-gallerys__title img {
  width: min(toVw(553), 553px);
  @include mq(medium, max) {
    max-width: 200px;
    width: 100%;
  }
}

.top-gallerys__lists {
  width: 100%;
  padding-top: 75px;
}
.top-gallerys__lists ul {
  margin-left: 175px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  @include mq(medium, max) {
    margin: 0;
    padding: 0;
    margin-left: 50%;
  }
}

.top-gallerys__lists li {
  list-style-type: none;
  // width: 18%;
  padding-top: 0;
  @include mq(medium, max) {
    margin-left: -76.5px;
    margin-right: 76.5px;
  }
}

.top-gallerys__lists li img {
  border-radius: 15px 65px 15px 65px;
  @include mq(medium, max) {
    border-radius: 10px 30px 10px 30px;
  }
}
.top-gallerys__lists li + li {
}

.top-gallerys__lists .bx-wrapper .bx-controls-direction a {
  // position: static;
  width: 60px;
  height: 60px;
  bottom: -100px;
  @include mq(medium, max) {
    width: 30px;
    height: 30px;
    display: block;
  }
}

.top-gallerys__lists .bx-wrapper .bx-controls-direction a.bx-prev {
  top: inherit;
  left: inherit;
  right: 180px;
  background-position: 0 0;
}

.top-gallerys__lists .bx-wrapper .bx-controls-direction a.bx-next {
  top: inherit;
  left: inherit;
  right: 100px;
  background-position: -80px 0;
}

.top-gallerys__btn {
  padding-top: 65px;
}
